.App {
    color: black;
    text-align: center;
}

.container {
  width: 400px;
  padding: 1rem;
  background-color: white;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
input {
  display: block;
  margin-top: 0.5rem;
}